<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Champions - League of Legends</title>
    <style>
    label{
        font-size: 1.3em;
    }
    </style>
</head>

<div>
<body>
    <div class="jumbotron text-center">
            <h1>Create New Champions Information</h1>
        </div>
    <form action="/create" method="POST">
        <label for='name'><b>Champions Name*:</b></label><br>
          <input type="text" id="name" name="name" placeholder=""><br><br>
        <label for='championID'><b>Champion ID*:</b></label><br>
            <input type="text" id="championID" name="championID" placeholder="" pattern="[0-9]{8}"><br>
        <small>Format: XXXXXXXX (Only available for number)</small><br><br>
        <label for='Role'><b>Role:</b></label><br>
            <input type="text" id="Role" name="Role" placeholder=""><br><br>
        <label for='Abilities'><b>Abilities:</b></label><br>
            <input type="text" id="Abilities" name="abilities" placeholder=""><br><br>
        <label for='Difficulty'><b>Difficulty:</b></label><br>
            <input type="text" id="difficulty" name="difficulty" placeholder=""><br><br>
        <label for='description'><b>Description:</b></label><br>
            <textarea name="description" id="description" cols="50" rows="10" placeholder="Type your comments..."></textarea><br>
        </p>
        <input type="submit" value="Create" /> 
    </form>    
</body>
</div>
</html>
