<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/display.css">
    </head>
    <body>
        <H2>Result: <%= nItems %> Champion(s). </H2>
        <ul>
            <% for (var i of items) { %>
            <li>Champion ID: <a href="/details?_id=<%= i._id %>"><%= i.championID %></a></li>
            <% } %>
        </ul>
        <a href="/home">Back to home.</a>
    </body>
</html>
