<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <title>League of Legends(LOL) Favourite Champion database</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/login.css">
    
</head>
<body>
    <div>
        <h1>Welcome to League of Legends (LOL) Favourite Champion Database</h1>
    </div>
    <form action="/login" method="post">
    	<br>
        <label for='username'><b>Username:</b></label><br>
        <input type="text" id="username" name="username" placeholder=""><br><br>
        <label for='password'><b>Password:</b></label><br>
        <input type="password" id="password" name="password" placeholder=""><br><br>
    <button type="submit">Login</button>
</form>
</body>
</html>
